.form {
  width: 500px;
}

.container {
  padding: 20px;
  
}

.tableView {
  padding-top: 50px;
}

 td, th {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #175351;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  
}

table, td, th {
  border: 1px solid rgb(218, 218, 218);
}

.submit {
  background-color: #175351;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

tr:nth-child(even){background-color: #f2f2f2}
